<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
  </head>
  <body>
    <div>
      <p>
        The authentication was failed. <br />you do not have a permission to
        access to the app. <br />try to contact to the owner to create an
        account for you then you can login with the local login or google
        service.
      </p>
      <a href="<%= locals.loginUrl %>">redirect to the login page</a>
    </div>
  </body>
</html>
