<div>
  <h4>Hi again <%= locals.firstName %></h4>

  <p>
    Your password has beeen changed. you can use
    <a href="<%= locals.link %>"> This Link </a>to redirec to the app with your
    new password.
  </p>
</div>
